@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    height: 100dvh;
  }

  body {
    min-height: 100dvh;
    min-height: -webkit-fill-available;
  }
}

@layer components {
  .btn {
    @apply border-2 text-base font-semibold;
  }
  .btn-outline-primary {
    @apply border-primary bg-transparent text-primary hover:border-primary hover:bg-info focus:border-primary focus:bg-info;
  }
  .btn-outline-accent {
    @apply border-accent bg-transparent text-accent-content hover:border-accent hover:bg-accent focus:border-accent focus:bg-accent;
  }
  .btn-ghost {
    @apply bg-transparent hover:bg-base-200 focus:bg-base-200 dark:hover:bg-base-300 dark:focus:bg-base-300;
  }
  .custom-label {
    @apply text-base font-medium;
  }
  .custom-card {
    @apply rounded-box bg-base-100 p-6 shadow-md dark:bg-base-200;
  }
  .custom-badge {
    @apply h-fit w-fit rounded-full px-2 py-1.5 text-xs font-medium;
  }
  .sticker {
    @apply rounded-box border-2 p-3 shadow-md hover:cursor-pointer;
  }
  .sticker-yellow {
    @apply border-yellow-700 bg-yellow-100 text-yellow-700 dark:border-yellow-700 dark:bg-yellow-900 dark:bg-opacity-10;
  }
  .sticker-sky {
    @apply border-sky-700 bg-sky-100 text-sky-700 dark:border-sky-700 dark:bg-sky-900 dark:bg-opacity-10;
  }
  .sticker-purple {
    @apply border-purple-700 bg-purple-100 text-purple-700 dark:border-purple-700 dark:bg-purple-900 dark:bg-opacity-10;
  }
  .sticker-primary {
    @apply border-primary bg-emerald-100 text-primary dark:border-primary dark:bg-emerald-900 dark:bg-opacity-10;
  }
  .btn-sticker-yellow {
    @apply border-yellow-700 bg-transparent text-yellow-700 hover:border-yellow-700 hover:bg-yellow-700 hover:text-white;
  }
  .btn-sticker-sky {
    @apply border-sky-700 bg-transparent text-sky-700 hover:border-sky-700 hover:bg-sky-700 hover:text-white;
  }
  .btn-sticker-purple {
    @apply border-purple-700 bg-transparent text-purple-700 hover:border-purple-700 hover:bg-purple-700 hover:text-white;
  }
  .btn-sticker-primary {
    @apply border-primary bg-transparent text-primary hover:border-primary hover:bg-primary hover:text-white;
  }
}

input {
  -webkit-appearance: none;
}

.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  @apply text-white;
}
