@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    height: 100vh;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}

@layer components {
  .btn {
    @apply border-2 text-base font-semibold;
  }
  .btn-outline-primary {
    @apply border-primary bg-transparent text-primary hover:border-primary hover:bg-info focus:border-primary focus:bg-info;
  }
  .btn-outline-accent {
    @apply border-accent bg-transparent text-accent-content hover:border-accent hover:bg-accent focus:border-accent focus:bg-accent;
  }
  .btn-ghost {
    @apply bg-transparent hover:bg-base-200 focus:bg-base-200 dark:hover:bg-base-300 dark:focus:bg-base-300;
  }
  .custom-label {
    @apply text-base font-medium;
  }
  .custom-card {
    @apply rounded-box bg-base-100 p-6 shadow-md dark:bg-base-200;
  }
  .custom-badge {
    @apply h-fit w-fit rounded-full py-1.5 px-2 text-xs font-medium;
  }
}

input {
  -webkit-appearance: none;
}

.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  @apply text-white;
}
